/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "font-awesome-sprockets";
@import "font-awesome";
@import "suitcss-utils-flex/index.css";

.u-text--right {
    text-align: right !important;
}
.u-nowrap {
    white-space: nowrap !important;
}

$text-color: #EDE6E3;
$text-color-visited: #DADAD9;
$background-color: #2b2b2b;
$white: #ffffff;

a {
    color: $text-color;
}
a:visited {
    color: $text-color-visited;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $text-color;

    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: $background-color;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 800px;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: table;
    color: #3b3b3b;

    @media screen and (max-width: 580px) {
        display: block;
    }
}

.row {
    display: table-row;
    background: #f6f6f6;

    @media screen and (max-width: 580px) {
        padding: 8px 0;
        display: block;
    }
}

.row:nth-of-type(odd) {
    background: #e9e9e9;
}

.row.header {
    font-weight: 900;
    color: $white;
    background: #ea6153;
}

.cell {
    padding: 6px 12px;
    display: table-cell;

    @media screen and (max-width: 580px) {
        padding: 2px 12px;
        display: block;
    }
}

.spinner-container {
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    min-height: 100px;
}

.flex_content {
    margin-right: 10px;
}

.top-nav_item {
    display: inline-block;
    padding: 3px 6px;
    border: thin solid $text-color;
    border-radius: 6px;
    text-decoration: none;
}
.top-nav_item:hover,
.top-nav_item.active,
.top-nav_item.active:hover {
    color: $background-color;
    background-color: $text-color;
}

.filter-movies_input {
    width: 200px;
}